@import "tailwindcss";

/* AQUÍ CONFIGURAMOS LAS FUENTES */
@theme {
  /* Hacemos que la fuente por defecto sea Montserrat */
  --font-sans: var(--font-montserrat); 
  
  /* Creamos una nueva clase "font-oswald" para los títulos */
  --font-oswald: var(--font-oswald);
}

:root {
  --background: #050505;
  --foreground: #ededed;
  --neon-blue: #00f2ff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans); /* Se aplica a todo por defecto */
  -webkit-font-smoothing: antialiased;
  padding-top: 80px;
}